button{
  border: 0;
  padding: 0.1rem 1rem;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
}

.wrapper > * {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 2rem auto;
}


.bg-green{
  background-color: green;
}

.bg-danger{
  background-color: red;
}

.todo-list li > *{
margin: 3rem;
}

