button {
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
}

/* submit button default css settings */
.intial-submit-btn-settings {
  border: none;
  padding: 0.5rem 0;
  background-color: gray;
  color: #0a0a0a;
  cursor: progress;
}

.submit-btn-success {
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.submit-btn-fail {
  border: none;
  padding: 0.5rem 0;
  background-color: gray;
  color: #0a0a0a;
  cursor: progress;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 0 auto;
}

.wrapper > * {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 2rem auto;
}

.bg-green {
  color: green;
}

.bg-danger {
  color: red;
}

.todo-list li > * {
  margin: 3rem;
}

.line-through {
  text-decoration: line-through 2px red;
}

table tr:nth-child(even) {
  background-color: #6df26f;
}

table tr:nth-child(odd) {
  background-color: rgb(46, 108, 108);
}

table {
  border-collapse: collapse;
  font-size: 1.2rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 50vh;
  
}

table td {
  padding: 1rem 1rem;
  width: 100vw;
  background-color: none;
}
